@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');

@font-face {
    font-family: "sriracha";
    src: url(./assets/font/Sriracha-Regular.ttf) format(truetype);
}

:root {
    --fontpadrao: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: "sriracha", cursive;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    background-color: #D9C9BA;
}

header {
    background-color: #260B01;
    text-align: center;
    color: #D9C9BA;
}

h1 {
    font-family: var(--font2);
    font-weight: 700;
    font-style: normal;
    font-size: 10vw;
    padding-top: 50px;
}

#link {
    padding-bottom: 50px;
    font-family: var(--fontpadrao);
}

a {
    text-decoration: none;
    color: #D9C9BA;
}

a:hover {
    text-decoration: underline;
}

section {
    color: #593622;
    font-family: var(--font3);
    font-size: 3.5vw;
    line-height: 2em;
    white-space: pre-line;
    /*faz cada linha do texto quebrar quando clica enter*/
    padding-bottom: 10vh;
    padding-left: 30px;
}

#parallax1{
    background-image: url(./assets/images/background001.jpg);  
}

.text-parallax{
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    box-shadow: inset 6px 6px 13px rgba(0, 0, 0, 0.473); 
}

#paragrafy-parallax1{
    display: inline-block;
    padding: 5px;
    background-color: #bfa38a4d;
    text-shadow: 1px 0px 5px white;
}

#parallax2{
    background-image: url(./assets/images/background002.jpg);  
}

#paragrafy-parallax2{
    display: inline-block;
    padding: 5px;
    background-color: #bfa38a42;
    color: #260B01;
    text-shadow: 1px 0px 5px white;
}


footer {
    background-color: #260B01;
    color: #D9C9BA;
    text-align: center;
    padding: 10px;
    font-family: var(--fontpadrao);
}